# Data Science Tools and Ecosystem

_In this notebook, Data Science Tools and Ecosystem are summarized._

#Objectives:
- Libraries
- Languages
- Python

**Some of the popular languages that Data Scientists use are**

1. Python
2. Rstudio
3. SQL

**Some of the commonly used libraries used by Data Scientists include:**

1. ggplot
2. Tensorflow
3. keras

|Data Science Tools|
|------------------|
|VScode|
|Jupyterlabs|
|Anaconda|

### Below are a few examples of evaluating arithmetic expressions in Python

In [22]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [26]:
#This will convert 200 minutes to hours by diving by 60
minute = 200
hours = minute / 60
print(hours)

3.3333333333333335

## Author
_Jupiter O._